html
    head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='style.css')
    title Búsqueda de productos
    .container
        .row
            .col-12
                h1 Búsqueda de productos
        .row
            .col-12
                form.form(action='/search' method='get')
                    .form-group
                        label(for='q') Buscar: 
                        input#q.form-control(type='text' name='q' required)
                    .form-group
                        input(type='submit' value='Submit')
        p
            a(href='/create') Crear nuevo artículo...
    each val in data 
        div.card
            div.row            
                div.card-image 
                    img(src=val.imageUrl, alt=val.title, width="200px", height="200px")
                div.card-content
                    h3.card-title= val.title
                    p= val.description
            div.card-price
                p RD$#{val.price}
